# Visualização

In [2]:
import numpy as np
import pandas as pd
import os
import random
def set_seed(seed: int):
    random.seed(seed) # Python
    np.random.seed(seed)  # Numpy, é o gerador utilizado pelo sklearn
    os.environ["PYTHONHASHSEED"] = str(seed)  # sistema operativo

set_seed(25)

In [3]:
import pandas as pd

#df = pd.read_csv("human_or_ai_dataset.csv")
df_treino = pd.read_csv("train.csv")
#df_teste = pd.read_csv("test.csv")
#df_validacao = pd.read_csv("validate.csv")

In [4]:
df_treino.head()

,00,000,01,02,03,04,05,06,07,08,...,youth,youthful,youths,youtube,yu,zealand,zero,zhang,zone,zones
0,0,0,0,0,0,0,0,0,0,0,...,0,0,1,1,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [6]:
df_treino.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35000 entries, 0 to 34999
Columns: 10000 entries, 00 to zones
dtypes: int64(10000)
memory usage: 2.6 GB

In [7]:
df_treino.describe()

,00,000,01,02,03,04,05,06,07,08,...,youth,youthful,youths,youtube,yu,zealand,zero,zhang,zone,zones
count,35000.000000,35000.000000,35000.000000,35000.000000,35000.000000,35000.000000,35000.000000,35000.000000,35000.000000,35000.000000,...,35000.000000,35000.000000,35000.000000,35000.000000,35000.000000,35000.000000,35000.000000,35000.000000,35000.000000,35000.000000
mean,0.013971,0.100886,0.010171,0.008314,0.006971,0.007114,0.012657,0.008200,0.007371,0.008457,...,0.047286,0.005743,0.012686,0.016743,0.005229,0.012114,0.021886,0.010114,0.015486,0.013629
std,0.117374,0.301182,0.100341,0.090804,0.083205,0.084047,0.111791,0.090183,0.085541,0.091574,...,0.212252,0.075565,0.111916,0.128308,0.072121,0.109398,0.146312,0.100061,0.123476,0.115945
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [ ]:
variances = df_treino.var().sort_values()
print(variances.head(20))  # Mostrar as 20 colunas com menor variância

the            0.000029
and            0.000057
to             0.000229
of             0.000229
in             0.000714
democracies    0.004182
invests        0.004239
attractions    0.004267
barnes         0.004296
pyramid        0.004296
318            0.004324
delight        0.004324
cleaner        0.004324
anesthesia     0.004352
rounded        0.004352
caters         0.004381
stagnation     0.004381
liking         0.004381
famine         0.004381
southwest      0.004381
dtype: float64

In [14]:
sparsity = (df_treino == 0).sum().sum() / (df_treino.shape[0] * df_treino.shape[1])
print(f"Sparsidade do dataset: {sparsity:.4f}")

Sparsidade do dataset: 0.9597

In [16]:
print(df_treino.loc[:, (df_treino != 0).any(axis=0)].head())

   00  000  01  02  03  04  05  06  07  08  ...  youth  youthful  youths  \
0   0    0   0   0   0   0   0   0   0   0  ...      0         0       1
1   0    0   0   0   0   0   0   0   0   0  ...      0         0       0
2   0    0   0   0   0   0   1   0   0   0  ...      0         0       0
3   0    0   0   0   0   0   0   0   0   0  ...      0         0       0
4   0    0   0   0   0   0   0   0   0   0  ...      0         0       0

   youtube  yu  zealand  zero  zhang  zone  zones
0        1   0        0     0      0     0      0
1        0   0        0     0      0     0      0
2        0   0        0     0      0     0      0
3        0   0        0     0      0     0      0
4        0   0        0     0      0     0      0

[5 rows x 10000 columns]

In [ ]:
word_frequencies = df_treino.sum().sort_values(ascending=False)
print(word_frequencies.head(20))

the      34999
and      34998
of       34992
to       34992
in       34975
is       34649
that     34644
for      34417
as       34002
it       33661
with     33552
on       33529
be       33066
by       33045
are      32876
this     32426
an       31508
from     31422
not      30615
their    30022
dtype: int64

In [18]:
human_texts = df_treino[df_treino['label'] == 0].drop(columns=['label']).sum()
ai_texts = df_treino[df_treino['label'] == 1].drop(columns=['label']).sum()

diff = (ai_texts - human_texts).sort_values(ascending=False)  # Diferença de frequências

print("Palavras mais comuns na IA vs Humanos:")
print(diff.head(10))

Palavras mais comuns na IA vs Humanos:
container      -134
attractions    -140
kotler         -142
318            -142
condemnation   -143
invests        -143
pyramid        -143
cleaner        -144
324            -144
inhibition     -144
dtype: int64

In [ ]:
print(df_treino['label'].value_counts())  # Verifica quantos exemplos há em cada classe